<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>服务</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content=""/>
    <link th:href="@{/User/css/detail_css.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/User/css/style.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/User/css/view.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/User/css/bar.css}" rel='stylesheet' type='text/css'/>
    <link th:href="@{/User/css/detail_bootstrap.css}" rel='stylesheet' type='text/css'/>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=1DFNk3IXCEPpgU94VSYs7zx7P1XCbHgL"></script>
    <style type="text/css">
    </style>
</head>
<body>
<header>
    <div th:replace="/User/TTop::myheader"/>
    <div style="background: url(/User/images/ban11.jpg) no-repeat 0px 0px; min-height:200px;-webkit-background-size: cover;">
    </div>
    <div>
        <nav>
            <ul class="container ul-reset">
                <li style="padding-right: 4px;"><a th:href="@{/user/index}">首页</a></li>
                <span style="color:white">|</span>
                <li style="padding-right: 4px;"><a th:href="@{/user/services}">服务</a></li>
                <span style="color:white">|</span>
                <li style="color:white">详细信息</li>
            </ul><!-- .container .ul-reset -->
        </nav>
    </div>
</header>
<!--single start here-->
<div class="single">
    <div class="container">
        <div class="col-md-8 sing">
            <div class=" single-grid">
                <div class="slideshow-container" th:each="img : ${imgs}">
                    <div class="mySlides fade1">
                        <img class="ibox" th:src="@{'/User'+${img.iimg}}" alt="...">
                    </div>
                    <a class="prev" onclick="plusSlides(-1)" style="color: white;">❮</a>
                    <a class="next" onclick="plusSlides(1)" style="color: white;">❯</a>
                </div>
                <div class="lone-line" th:switch="${h.htype}" th:inline="text">
                    <h2 id="title">[[${h.hname}]]</h2>
                    <p th:case="'3'">
                        短租：[[${h.hmodel}]]<br>价格：[[${h.hprice}]]元/日
                    </p>
                    <p th:case="'1'">
                        长租：[[${h.hmodel}]]<br>价格：[[${h.hprice}]]元/月
                    </p>
                    <p th:case="*">
                        出售：[[${h.hmodel}]]<br>价格：[[${h.hprice/10000}]]万
                    </p>
                    <p>介绍：[[${h.hdesc}]]</p>
                </div>
            </div>
            <div style="padding-top: 20px;">
            <h3>房屋位置:</h3>
            <p th:text="${h.hposition}+'市'+${h.haddress}" style="color:black" id="address"></p>
            </div>
            <div id="houseMap" style="width: 100%;height: 400px;"></div>
            <div class=" single-profile">
                <h4>猜你喜欢</h4>
                <div class="single-left ">
                    <div class="col-md-3 post-top" th:inline="text" th:each="lh:${hl}" th:switch="${h.htype}">
                        <a th:href="@{/houseDetail(hid=${lh.hid})}"><img class="img-responsive" th:src="@{'/User/'+${lh.himg}}" alt="[[${lh.hname}]]"></a>
                        <h5><a th:href="@{/houseDetail(hid=${lh.hid})}">[[${lh.hname}]]</a></h5>
                        <p style="color:black;font-size:14px;" th:case="'3'">[[${lh.hprice}]]元/日</p>
                        <p style="color:black;font-size:14px;" th:case="'1'">[[${lh.hprice}]]元/月</p>
                        <p style="color:black;font-size:14px;" th:case="*">[[${lh.hprice/10000}]]万</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 categories-grid">
            <div class="grid-categories">
                <h4>房屋持有</h4>
                <ul class="popular" th:if="${h.hbelong} eq null">
                        <li><img th:src="@{/User/images/logo.png}"></li>
                        <li><p style="color:black">网租包租婆</p></li>
                        <li><p style="color:black">联系方式：15216026804</p></li>
				</ul>
				<ul class="popular" th:if="${h.hbelong} ne null" th:inline="text">
                        <li><img th:src="@{/User/images/logo.png}"></li>
                        <li><p style="color:black" id="landlordName" th:value="${landlord.lname}">[[${landlord.lname}]]</p></li>
                        <li><p style="color:black">联系方式：[[${landlord.ltel}]]</p></li>
                </ul>
            </div>
            <div class="grid-categories">
                <h4>关于我</h4>
                <ul>
                    <li style="padding-top: 15px;height: 25px;"><a href="#">预约看房</a></li>
                    <li style="padding-top: 15px;height: 25px;"><button id="addCollect" th:value="${h.hid}">加入收藏</button></li>
                    <li style="padding-top: 15px;height: 25px;"><button id="webChat">和他聊聊</button></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div style="height:30px;">
</div>
<div th:replace="/User/bottom::myfooter"/>
</body>
<script type="text/javascript" th:src="@{/User/js/jquery.js}"></script>
<script>
    $('#addCollect').click(function(){
        var value = $("#addCollect").val();
        $.ajax({
            type: 'get',
            data: {"hid": value},
            url: '/user/addCollect',//请求数据的地址
            dataType: "text",        //返回数据形式为json
            success: function (result) {
                if (result == "true") {
                    alert("添加成功！");
                } else if (result == "false") {
                    alert("已经在您的收藏夹里了！")
                } else if(result=="noLogin"){
                    alert("请先登录！")
                    window.location.href = "/user/login";
                }
            }
        });
    })
</script>
<script type="text/javascript">
    var userSend=$("#landlordName").text();
    $("#webChat").click(function () {
        if(userSend!=null){
            sessionStorage.setItem("userSend",userSend);
            alert(sessionStorage.getItem("userSend"));
            window.location.href="/wechat";
        }else {
            alert("请直接联系网租服务人员！")
        }
    })

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "block";
    }
</script>
<script type="text/javascript">
    var address=$("#address").text();
    var title=$("#title").text();
    // 创建地图实例
    var map = new BMap.Map("houseMap");
    // 创建点坐标
    var point = new BMap.Point(116.404, 39.915);
    // 初始化地图，设置中心点坐标和地图级别
    map.centerAndZoom(point, 12);
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint(address, function(point){
        if (point) {
            map.centerAndZoom(point, 16);
            //启用缩放
            map.enableScrollWheelZoom(true);
            // 左上角，添加比例尺
            var top_left_control = new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT});
            //添加比例尺控件
            map.addControl(top_left_control);
            //跳动的标注点
            var marker = new BMap.Marker(point);  // 创建标注
            map.addOverlay(marker);               // 将标注添加到地图中
            marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
            var opts = {
                width : 200,     // 信息窗口宽度
                height: 100,     // 信息窗口高度
                title : title , // 信息窗口标题
            }
            var infoWindow = new BMap.InfoWindow("地址："+address, opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, point); //开启信息窗口
            marker.addEventListener("click", function() {
                map.openInfoWindow(infoWindow, point); //开启信息窗口
            });
        }else{
            alert("您选择地址没有解析到结果!");
        }
    });



</script>
</html>