<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div style="width:946px; margin:0 auto;" th:fragment="myfilter">
    <div class="clearfix">
        <p class="shaixuan-tj floatLeft clearfix">
            <span><a href="/">全部结果</a></span>
            <i class="icon-angle-right"></i>
        </p>
    </div>
    <div id="page-search-store" class="mb10 border sxcon">
        <div class="search-by by-category relative">
            <dl class="relative clearfix" style="border-bottom:0">
                <dt class="floatLeft"><a href="/">类型：</a></dt>
                <dd class="floatLeft show-con">
                    <a href="/" class="" id="0">短租</a>
                    <a href="/" class="" id="1">长租</a>
                    <a href="/" class="" id="2">购买</a>
                </dd>
            </dl>
            <dl class="relative clearfix" style="border-bottom:0">
                <dt class="floatLeft"><a href="/">位置：</a></dt>
                <dd class="floatLeft show-con">
                    <a href="/" class="">南昌</a>
                    <a href="/" class="">上饶</a>
                    <a href="/" class="">鹰潭</a>
                    <a href="/" class="">萍乡</a>
                    <a href="/" class="">九江</a>
                    <a href="/" class="">景德镇</a>
                    <a href="/" class="">宜春</a>
                    <a href="/" class="">新余</a>
                    <a href="/" class="">吉安</a>
                    <a href="/" class="">抚州</a>
                    <a href="/" class="">赣州</a>
                </dd>
            </dl>
            <dl class="relative clearfix" style="border-bottom:0">
                <dt class="floatLeft"><a href="/">价格：</a></dt>
                <dd class="floatLeft show-con">
                    <a href="/" class="">0-1000</a>元
                    <a href="/" class="">1000-1500</a>元
                    <a href="/" class="">1500-2000</a>元
                    <a href="/" class="">2500-3000</a>元
                    <a href="/" class="">3000以上</a>
                </dd>
            </dl>
            <dl class="relative clearfix" style="border-bottom:0">
                <dt class="floatLeft"><a href="/">居室：</a></dt>
                <dd class="floatLeft show-con">
                    <a href="/" class="">1室</a>
                    <a href="/" class="">2室</a>
                    <a href="/" class="">3室</a>
                    <a href="/" class="">4室</a>
                </dd>
            </dl>
        </div>
    </div>
</div>